<section class="case bbground">
    <div class="slideshow">
        <img src="../../../../assets/img/constitutionallaw.png" alt="Arbitration Overview" />
        <img src="../../../../assets/img/competitionlaw1.png" alt="Arbitration Overview" />
        </div>
</section>

<section>
    <h1>Constitutional Law</h1>
    <p>Our work spans crucial legal battles that uphold constitutional rights and challenge legislative overreach, ensuring the integrity of India's legal system.</p>
</section>

<section class="case">
    <h2>GMR Bajoli Holi Hydro Power Pvt Ltd vs State of HP</h2>
    <p>We represented GMR Bajoli Holi Hydro Power before the Himachal Pradesh High Court. We challenged the Himachal Pradesh Water Cess on Hydropower Electricity Generation Act, 2023, arguing it was beyond the State Government's legislative competence under Articles 246 and 265 and thus ultra vires of the Constitution. The Court ruled in our favor.</p>
</section>
<section class="case">
    <h2>Property Owners Association vs State of Maharashtra & Others</h2>
    <p>We are representing the interests of the tenants in this landmark litigation regarding the Bombay Rent Act. We have represented the Clients in this litigation before the Constitution Benches of 5JJ, 7JJ, and 9JJ.</p>
</section>
<section class="case">
    <h2>A. K. Kraipak vs Union of India</h2>
    <p>Litigation steered by the Firm's founder, this Judgment by the Hon'ble Supreme Court established that fair adjudication extends beyond judicial functions, including administrative matters. It is regarded as a crucial precedent addressing the issue of personal bias.</p>
</section>
