<section class="case bbground">
    <div class="slideshow">
        <img src="../../../../assets/img/competitionlaw3.png" alt="Arbitration Overview"  />
        <img src="../../../../assets/img/competitionlaw1.png" alt="Arbitration Overview"  />
    </div>
</section>
  
  <p>We recently represented a Company in a dispute arising from a cartelization investigation concerning ethanol producers.</p>

  <section class="case">
    <h2>Dalmia Cements (Bharat) Ltd. Vs Competition Commission of India</h2>
    <p>Madras High Court dismissed the appeal filed by Dalmia Cements (Bharat) Pvt Ltd and permitted the Builders Association of India to be impleaded as ‘Intervener / Proper Party’ in the suo moto proceedings in Case no 29/2010. The case was later challenged before the Hon’ble Supreme Court regarding principles of impleading necessary and proper parties under Order 1 Rule 10 of the Code of Civil Procedure.</p>
  </section>

  <section class="case">
    <h2>Micromax Informatics Ltd. v. CCI & Jaina India Pvt. Ltd. v. CCI</h2>
    <p>The impugned order directed Google to make changes to MADA and AFA agreements, potentially depriving small OEMs like Micromax of benefits. Appeals were filed under Section 53A(1) of the Competition Act before the Hon’ble Tribunal.</p>
  </section>

  <section class="case">
    <h2>Other Notable Cases</h2>
    <ul>
      <li>Ultratech Cement Ltd. Vs Competition Commission Of India</li>
      <li>Ambuja Cements Limited Vs Competition Commission Of India</li>
      <li>Amazon.Com Nv Investment Holdings Llc Vs Competition Commission Of India</li>
      <li>Triveni Engineering & Industries Ltd Vs Ester India Chemicals Ltd & Anr.</li>
      <li>Religare Enterprises Ltd. Vs Competition Commission Of India And Ors</li>
    </ul>
  </section>