<section class="case bbground">
    <div class="slideshow">
        <img src="../../../../assets/img/CorporateandInsolvencyLaws.png" alt="Arbitration Overview" />
        <img src="../../../../assets/img/competitionlaw1.png" alt="Arbitration Overview" />
        </div>
</section>

<section>
    <h1>Corporate and Insolvency Laws</h1>
    <p>From pioneering decisions on arbitration and non-signatories to shaping the grounds for setting aside arbitral
        awards, our firm leads complex, high-stakes disputes across sectors.</p>
</section>

<section class="case">
    <h2>Ghanshyam Mishra and Sons Pvt. Ltd. v. Edelweiss ARC</h2>
    <p>Supreme Court ruled that all creditors, including government bodies, are bound by approved Resolution Plans under
        Section 31(1) of the IBC.</p>
</section>
<section class="case">
    <h2>Binani Cement Insolvency</h2>
    <p>Represented Ultratech Cement in NCLAT and Supreme Court, setting precedent for maximizing asset value and ending
        creditor discrimination.</p>
</section>
<section class="case">
    <h2>Deccan Value</h2>
    <p>Supreme Court held that resolution applicants cannot withdraw plans post CoC approval.</p>
</section>
<section class="case">
    <h2>Torrent Investments v. Vistra ITCL</h2>
    <p>Debated CoC’s authority to negotiate post-submission. NCLAT allowed further negotiation; firm contested in
        Supreme Court.</p>
</section>
<section class="case">
    <h2>Regulatory Dues under IBC</h2>
    <p>Challenging SEBI’s stance that regulatory dues aren’t ‘debt’ under IBC, with implications for SEBI, RBI, and
        others.</p>
</section>
<section class="case">
    <h2>Suraksha Realty</h2>
    <p>Supreme Court recognized government land charge holders as secured creditors, impacting resolution plans and
        30,000 homebuyers.</p>
</section>
<section class="case">
    <h2>Adani Properties</h2>
    <p>Defended Resolution Plan challenges; Supreme Court upheld NCLAT’s view on amended CIRP regulations.</p>
</section>
<section class="case">
    <h2>Personal Guarantees under IBC</h2>
    <p>Advocating for constitutional rights of insolvent guarantors before the Supreme Court.</p>
</section>
<section class="case">
    <h2>Supertech Ltd. Insolvency</h2>
    <p>Challenging NCLAT’s order initiating insolvency for one housing project, arguing for broader IIR supervision.</p>
</section>
<section class="case">
    <h2>CIT v. Monnet</h2>
    <p>Supreme Court upheld that income tax dues don’t override secured creditors under Section 238 of IBC.</p>
</section>